#sidebarMenu {
    background-color: #283046;
}

.text-emerald{
    color: #047857;
}

.bg-emerald {
    background-color: #bcf7da;
}

.ms-alert{
    border-radius: 10px;
    padding-inline: 15px;
    padding-bottom: 2px;
    padding-top: 6px;
}